/* Set the heading font as Space Grotesk */
h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk";
  font-weight: 400;
}

@supports (font-variation-settings: "wght" 450) {
  h1,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk";
    font-weight: 450;
  }
}

html[data-theme="dark"] {
  --pico-primary: #b5b3ad;
  --pico-background-color: #122330;
  --pico-code-background-color: #1c364a;
  --pico-form-element-active-background-color: #1c364a;
  --pico-card-sectioning-background-color: #1c364a;
  --pico-card-background-color: #152837;
  --pico-dropdown-background-color: #152837;
  --pico-muted-color: #62717d;
  --pico-color: #c2c7d0;
  --pico-h3-color: #c2c7d0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  border-top: 1px solid var(--pico-secondary-border);
  text-align: center;
}

header {
  border-bottom: 1px solid var(--pico-secondary-border);
}

hgroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main {
  flex: 1;
}

a.toggle {
  text-decoration: none;
}
