/**
 * CSS Variables
 */
:root {
  --mobile-link-left-pos: -44px;
}

html[data-theme="dark"] {
  --pico-primary: #b5b3ad;
  --pico-background-color: #122330;
  --pico-code-background-color: #1c364a;
  --pico-form-element-active-background-color: #1c364a;
  --pico-card-sectioning-background-color: #1c364a;
  --pico-card-background-color: #152837;
  --pico-dropdown-background-color: #152837;
  --pico-muted-color: #62717d;
  --pico-color: #c2c7d0;
  --pico-h3-color: #c2c7d0;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-background-color: #f5f4f0;
}

/* Set the max size of a container */
.container:not(.wider) {
  max-width: 1000px;
}

/* Set the heading font as Space Grotesk */
h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk";
  font-weight: 400;
}

@supports (font-variation-settings: "wght" 450) {
  h1,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk";
    font-weight: 450;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  border-top: 1px solid var(--pico-secondary-border);
  text-align: center;
  margin-top: 1.75rem;
}

.header {
  border-bottom: 1px solid var(--pico-secondary-border);
  margin-bottom: 1.75rem;
}

hgroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

main {
  flex: 1;
}

nav {
  justify-content: unset;
  align-items: center;
  flex-direction: row;
}

ul.mobile_nav,
ul.desktop_nav {
  flex-grow: 1;
}

ul.desktop_nav {
  padding-left: 1.25rem;
  order: 2;
}

ul.mobile_nav {
  flex: 1;
  order: 1;
}

#theme_switcher {
  font-size: 1.35rem;
  vertical-align: text-bottom;
}

a.toggle {
  text-decoration: none;
}

.desktop_nav {
  display: none;
}

details.dropdown summary {
  transition: none !important;
}

details.dropdown[open] summary {
  transition: none !important;
}

details.dropdown-toggle-no-caret > summary::after {
  display: none;
}

.center {
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition:
    background-color 0.3s ease,
    background-image 0.3s ease;
}

.logo-wrapper {
  flex: 1;
  order: 2;
}

[data-theme="light"] .logo {
  background-image: url("/images/logo-small-light.png");
}

[data-theme="dark"] .logo {
  background-image: url("/images/logo-small-dark.png");
}

.lost {
  text-align: center;
}

.lost h1 {
  font-size: 2.5rem;
}

.lost h2 {
  text-transform: uppercase;
}

/* Hamburger Icon */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 35px;
  gap: 4px;
}

.menu-icon span {
  background-color: var(--pico-primary);
  height: 3px;
  border-radius: 2px;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

.social {
  margin-top: 3rem;
}

.theme {
  order: 3;
}

#theme-toggle {
  font-size: 1.5rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .desktop_nav {
    display: flex;
    gap: 1.5rem;
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  .logo-wrapper {
    flex-grow: unset;
    order: 1;
  }

  [data-theme="light"] .logo {
    background-image: url("/images/logo-light.png");
  }

  /* Dark theme */
  [data-theme="dark"] .logo {
    background-image: url("/images/logo-dark.png");
  }

  .mobile_nav {
    display: none;
  }

  .social {
    width: 75%;
  }
}
